.cart-container {
    width: 30%;
    height: 100vh;
    background-color: beige;
    position: fixed;
    top: 0;
    right: 0;
    /* display: none; */
/* }
.cart-hide {
    position: fixed;
    top: 0;
    right: -100%;
    transition: .9s ease-in-out;
    display: block;
}
.cart-show {
    position: fixed;
    top: 0;
    right: 0;
    transition: .9s ease-in-out;
    display: block;
} */